
a:link{
   color: red;
   background-color: yellow;
}

a:visited{
    color: green;
}

a:hover{
    color: hotpink;
}

a:active{
    color: blue;
}

.test{
    background-color: snow;
    width: 200px;
    height: 100px;
    position: relative;
    border: 1px solid red;
}

.test::before{
box-sizing: content-box;
position: absolute;
bottom: -18px;
right:121px;
border-top:9px solid snow;
border-bottom:9px solid transparent;
border-left:9px solid transparent;
border-right:9px solid transparent;
display: block;
content:'';
z-index: 2;
}

.test::after{
box-sizing: content-box;
position: absolute;
bottom: -20px;
right:120px;
border-top:10px solid red;
border-bottom:10px solid transparent;
border-left:10px solid transparent;
border-right:10px solid transparent;
display: block;
content:'';
    z-index:1
}


.dialogs{
    width:41px;
    height:19.32px;
    background-color:#45ace5;
    border-radius:3px;
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.59);
    position: relative;
    
    margin-left: 169.5px;
}

.dialogs::before{
    box-sizing: content-box;
    position: absolute;
    bottom: -13.53px;
    left: 17.89px;
    border-top:6.98px solid #45ace5;
    border-bottom:6.98px solid transparent;
    border-left:6.98px solid transparent;
    border-right:6.98px solid transparent;
    display: block;
    content: '';
}


progress{
    width:314.98px;
    height:4px;
    border-radius:8px;
    margin-top: 0px;
}

::-webkit-progress-value{
    background-color: rgba(69, 172, 229, 1);
}

.play{

    height: 20px;
    width: 20px;
    background-color:#177ddc;
    border-radius:2px;

}

.play::after{
    box-sizing: content-box;
    position: absolute;
    left: 15px;
    top: 10.5px;
    border-top:8px solid white;
    border-bottom:8px solid white;
    border-left:8px solid white;
    border-right:8px solid transparent;
    border-radius: 3px;
    z-index: 1;
    content: '';
}

.pagination{
    display: inline-block
}

.pagination a{
    float: left;
    padding: 8px 16px;
    text-decoration: 8px 16px;
    text-decoration: none;
}


div#add{
    position: absolute;
    left: 38%;
    top: 25%;
    height: 397px;
    width: 508px ;
    text-align: center;
    background-color:rgba(7, 29, 44, 0.94);
    border:1px solid;
    border-color:#4186a7;
    box-shadow:0px 2px 18px rgba(0, 0, 0, 0.75);

}

#header-right{
    float: right;
    width: 9.95px;
    height: 9.95px;
    color: #ffffff;
    text-align: center;
   }


#sure{
    float: left;
    margin-left: 157px;
    margin-top: 164px;
    width:74px;
    height:32px;
    background-color:#112b2f;
    border:1px solid; 
    border-color:#1d7270;
    border-radius:1px;
    font-family:PingFangSC-Regular;
    color:#ffffff;
    font-size:18px;
    text-align:center;
    padding-top: 4px;

}

#cancel{
    float: left;
    margin-top: 164px;
    margin-left: 47px;
    width:74px;
    height:32px;
    background-color:#222f37;
    border:1px solid;
    border-color:#748b9d;
    border-radius:1px;
    font-family:PingFangSC-Regular;
    color:rgba(255, 255, 255, 0.65);
    font-size:18px;
    text-align:center;
    padding-top: 4px;
}



   select.satillite{
    width:160px;
    height:32px;
    background-color:#172a37;
    border:1px solid;
    border-color:#1e6d6a;
    border-radius:4px;

    opacity:65%;
    font-family:MicrosoftYaHei;
    color:#ffffff;
    font-size:14px;
    line-height:24px;
}


