/*主页部分*/


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: black;
    color: rgba(255, 255, 255, 0.65);
}

span{
    display: inline-block;
    margin-left: 35px;
    margin-top: 25px;
}



form{
    margin-top: 24px;
    padding-bottom: 24px ;
    background-color: rgba(23, 37, 44, 1);
    border-bottom: 1px solid rgba(26, 74, 97, 1);
    border-top: 1px solid rgba(26, 74, 97, 1);
}

select.satillite{
    width:160px;
    height:32px;
    background-color:#172a37;
    border:1px solid;
    border-color:#1e6d6a;
    border-radius:4px;

    opacity:65%;
    font-family:MicrosoftYaHei;
    color:#ffffff;
    font-size:14px;
    line-height:24px;
}


/*设置radio样式*/

input.radio{
    width:16px;
    height:16px;
    appearance: none;
    position: relative;
    
}

input.radio:before {
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid #2c5c73;;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}

input.radio:checked:before{
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid #188dfe;
    background:#188dfe;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    left: 4px;
    top: 4px;
    display: block;
    position: absolute
}

input.radio:checked::after{
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid #2c5c73;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}

input.submit{
    margin-left: 138.6px;
    text-align: center;
    width:74px;
    height:32px;
    background-color:#1592fe;
    border-radius:2px;
    color: #ffffff;
}

button#introduce{
    float: left;
    margin-left: 24px;
    margin-top: 24px;
    width: 355px;
    height: 228px;
    background-color: #071d2c;
    border: 1px dashed;
    border-color: #1a4a61;
     
    padding: 99px;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    transition: background-color .3s;
}

button#introduce:hover{
  
    background-color: rgba(4, 61, 89, 1);

}

div.envelope{
    float: left;
    overflow: auto;

    width: 355px;
    height: 228px;
    margin-left: 24px;
    margin-top: 24px;
    background: transparent;
    background-image: url("png/envelope.png");
    
}

img.satillite{
    height:27.52px ;
    width: 27.7px ;
    margin : 10.48px 16.27px ;
    float: left ;
}

div.satillite-introduction{
    padding-top: 13.74px;
    margin-left: 12.53px;
}


div.editor{

    float: right;
    overflow: auto;
    margin-right: 12px;
    margin-top: -5.26px;

}

div.editor img{
    width: 14.5px;
    height: 16px;
}

div.numberBlock{
    margin-top: 40.26px;
    margin-left: 19.97px;
}

div.numberBlock img{
    height:20px ;width:20.32px ;float: left;
}

div.numberBlock div{
    margin-left: 8.53px;float: left; font-size: 14px;
}

div.algorithmBlock{
    float: left;
    margin-left: 77.16px;
}

div.algorithmBlock img{
    width:21.83px;
    height:19.89px;
    float: left;
}

div.algorithmBlock div{
    margin-left: 12px;float: left;
}

div.timeBlock{
    clear:both; 
    margin-left: 19px; 
    padding-top: 16px; 
}

div.timeBlock img{
    width:22px;
    height:22px; 
    float: left;
}

div.timeBlock div{
    float: left;
    font-size: 14px;
    margin-left: 7px;
}

div.dialogsBlock{
    clear: left;
    margin-left: 19px; 
    margin-top: 16px;
}

.dialogs{
    width:41px;
    height:19.32px;
    background-color:#45ace5;
    border-radius:3px;
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.59);
    position: relative;
    margin-top: 4px;
    margin-left: 169.5px;
    font-size: 12px;
    text-align: center;
}

.dialogs::before{
    box-sizing: content-box;
    position: absolute;
    bottom: -13.96px;
    left: 17.89px;
    border-top:6.98px solid #45ace5;
    border-bottom:6.98px solid transparent;
    border-left:6.98px solid transparent;
    border-right:6.98px solid transparent;
    display: block;
    content: '';
}


progress{
    width:314.98px;
    height:4px;
    border-radius:8px;
    margin-top: 0px;
}

::-webkit-progress-value{
    background-color: rgba(69, 172, 229, 1);
}

.operate{
    margin: 13.48px 21.5px;
}

.play{
    width: 20px; 
    height: 20px;
    float: left;
}

.stopoutside{
    width: 20px; 
    height: 20px;
    margin-left: 19px;
    background-color: #177ddc ;
    border-radius: 2px ;float: left;
}

.stopinside{
    width:10px;
    height: 10px;
    margin-left: 5px;
    margin-top:5px ; 
    background-color: white; 
    border-radius: 2px;
}

.history{
    width: 66px; 
    height: 20px;
    margin-left: 16px; 
    float: left;
    background-color: #177ddc;
    color: white;
    font-size: 12px; 
    text-align: center;
    padding-top : 2px; 
}

.modelPratice{
    width: 66px; 
    height: 20px;
    margin-left: 103px; 
    float: left;
    background-color: #177ddc;
    color: white;font-size: 12px;
    text-align: center;
    padding-top : 2px; 
}

.center{
    text-align: center;
}

.pagination{
    display: inline-block;
    position: absolute;
    top: 94%;
    left: 62%;
}

.pagination span{
    float: left;
    font-size: 12px;
    color:rgba(255, 255, 255, 0.75);
    margin-top: 8px;
    margin-right: 5px;
}

.pagination select{
    float: left;
    opacity:98%;
    width:87.5px;
    height:32px;
    background-color:rgba(23, 125, 220, 0);
    border:1px solid;
    border-color:#3a3e41;
    border-radius:2px;
    color:#f6f8f8;
    font-size:14px;
    margin-right: 15px;
}

.pagination a{
    color: rgba(255, 255, 255, 0.65);
    float: left;
    padding: 8px 16px;
    text-decoration: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 5px;
    margin: 0 8px;
    background-color: #04405e;
    

}

.pagination a.active{
    background-color: #b56605;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active){
    background-color: #b56605 ;
    border-radius: 5px;
}

/*弹窗部分*/


div#add{
    position: absolute;
    left: 38%;
    top: 25%;
    height: 397px;
    width: 508px ;
    text-align: center;
    background-color:rgba(7, 29, 44, 0.94);
    border:1px solid;
    border-color:#4186a7;
    box-shadow:0px 2px 18px rgba(0, 0, 0, 0.75);

}

div.header{
    height: 46px; 
    background-color: #043d59;
    color: #8ed0f0; 
    font-size:16px; 
    padding-top: 11px;
}

#header-right{
    float: right;
    width: 9.95px;
    height: 9.95px;
    color: #ffffff;
    text-align: center;
    margin-top: -20px;
    margin-right: 15px;
   }



#sure{
    float: left;
    margin-left: 157px;
    margin-top: 100px;
    width:74px;
    height:32px;
    background-color:#112b2f;
    border:1px solid; 
    border-color:#1d7270;
    border-radius:1px;
    font-family:PingFangSC-Regular;
    color:#ffffff;
    font-size:18px;
    text-align:center;
    padding-top: 4px;

}

#cancel{
    float: left;
    margin-top: 100px;
    margin-left: 47px;
    width:74px;
    height:32px;
    background-color:#222f37;
    border:1px solid;
    border-color:#748b9d;
    border-radius:1px;
    font-family:PingFangSC-Regular;
    color:rgba(255, 255, 255, 0.65);
    font-size:18px;
    text-align:center;
    padding-top: 4px;
}

#cancel:hover{
    background-color:darkgrey;
}

